<div class="popup" #popup>
	<div *ngIf='step==1'>
		<div class="popup-content">
			<div *ngIf="loading" class="popup-loader"></div>

			<div class="popup-close" (click)="closePopup()" >
				<span>&times;</span>
			</div>

			<div class="popup-title">Изменить пароль</div>

			<form class="popup-form" [formGroup]="pswrdForm" (ngSubmit)="changePassword()">
				<label [ngClass]="{'popup-hasError':!pswrdForm.controls['old_pswrd'].valid && pswrdForm.controls['old_pswrd'].touched}" >
					<span class="popup-label">Введите старый пароль</span>
					<input 
						class="popup-input"
						type="password"
						formControlName="old_pswrd"
					/>
					<app-input-validate
						[control]="pswrdForm.controls['old_pswrd']"
						[touched]="true"
					></app-input-validate>
				</label>

				<label [ngClass]="{'popup-hasError':!pswrdForm.controls['new_pswrd'].valid && pswrdForm.controls['new_pswrd'].touched}" >
					<span class="popup-label">Введите новый пароль</span>
					<input 
						class="popup-input"
						type="password"
						formControlName="new_pswrd"
					/>
					<app-input-validate
						[control]="pswrdForm.controls['new_pswrd']"
						[touched]="true"
					></app-input-validate>
				</label>

				<label [ngClass]="{'popup-hasError':!pswrdForm.controls['new_pswrd_rpt'].valid && pswrdForm.controls['new_pswrd_rpt'].touched}" >
					<span class="popup-label">Повторите новый пароль</span>
					<input 
						class="popup-input"
						type="password"
						formControlName="new_pswrd_rpt"
					/>
					<app-input-validate
						[control]="pswrdForm.controls['new_pswrd_rpt']"
						[touched]="true"
					></app-input-validate>
				</label>

				<div class="popup-sbmtError" *ngIf="error">{{error}}</div>

				<div class="popup-submit">
					<button type="submit" class="popup-btn" [disabled]="!pswrdForm.valid">Сохранить</button>
				</div>
			</form>

		</div>
	</div>

	<div *ngIf='step==2'>
		<div class="popup-content">
			<div *ngIf="loading" class="popup-loader"></div>

			<div class="popup-close" (click)="closePopup()" >
				<span>&times;</span>
			</div>

			<div class="popup-title popup-title--sccss">Пароль успешно изменён</div>

			<div class="popup-submit">
				<button class="popup-btn" (click)="closePopup()" >Закрыть</button>
			</div>
		</div>
	</div>
</div>