$border-color: #D8D9DB;
$sidebar-color: #609AEC;
$sidebar-text-color: #fff;
$sidebar-hover-color: #79ADF6;
$topmenu-height: 50px;
$main-font:"Bliss Pro", sans-serif;
$sidebar-width: 210px;
$toggle-button-color: rgb(222, 231, 236);
$toggle-button-active-color: rgb(96, 154, 236);
$default-font: "MyriadProRegular";
$disabled-color: rgb(202, 229, 246);

$mobile-width: '760px';
$middle-width-start: '761px';
$middle-width: '1179px';
$wide-width: '1180px';


$prflColor: #403f3f;
$prflColorError: #f26c4f;
$prflInputHover: #79ADF6;
$prflFontRegular: 'PTSans';
$prflFontBold: 'PTSansBold';
