/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("/assets/fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("/assets/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("/assets/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("/assets/fonts/MyriadProBold/MyriadProBold.eot");
  src: url("/assets/fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
  url("/assets/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("/assets/fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("/assets/fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
  url("/assets/fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("/assets/fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("/assets/fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
  url("/assets/fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("/assets/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("/assets/fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
  url("/assets/fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("/assets/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("/assets/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
  url("/assets/fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansRegular";
  src: url("/assets/fonts/PTSans/PTSansRegular.eot");
  src: url("/assets/fonts/PTSans/PTSansRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/PTSans/PTSansRegular.woff") format("woff"),
  url("/assets/fonts/PTSans/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
  font-family: "PTSansItalic";
  src: url("/assets/fonts/PTSans/PTSansItalic.eot");
  src: url("/assets/fonts/PTSans/PTSansItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/PTSans/PTSansItalic.woff") format("woff"),
  url("/assets/fonts/PTSans/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
  font-family: "PTSansBold";
  src: url("/assets/fonts/PTSans/PTSansBold.eot");
  src: url("/assets/fonts/PTSans/PTSansBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/PTSans/PTSansBold.woff") format("woff"),
  url("/assets/fonts/PTSans/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* font-family: "Bliss pro"; */
@font-face {
  font-family: 'Bliss Pro';
  src: url('/assets/fonts/bliss-pro-light.otf') format('opentype');
  font-weight: 200;
}
  
@font-face {
  font-family: 'Bliss Pro';
  src: url('/assets/fonts/bliss-pro.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bliss Pro';
  src: url('/assets/fonts/bliss-pro-bold.otf') format('opentype');
  font-weight: 600;
}
